<section data-controller="home" class="container mt-5">
  <h1 class="text-center my-5">PHOTO GALLERY <br>Bootstrap 5 and Fancybox 4</h1>

  <article class="row row-cols-1 row-cols-sm-2 g-2 d-flex justify-content-center">

    <div class="col-sm-6 col-md-3 mb-4 text-center">
      <a data-fancybox="gallery" data-src="https://res.cloudinary.com/demo/image/upload/w_1000,c_scale,q_auto/castle.jpg" data-caption="Castle on a Hill">
        <img src="https://res.cloudinary.com/demo/image/upload/w_200,h_155,c_lfill,q_auto/castle.jpg" />
        <figcaption>Castle on a Hill</figcaption>
      </a>
    </div>

    <div class="col-sm-6 col-md-3 mb-4 text-center">
      <a data-fancybox="gallery" data-src="https://res.cloudinary.com/demo/image/upload/w_1000,c_scale,q_auto/sofa_cat.jpg" data-caption="Sofa Cat">
        <img src="https://res.cloudinary.com/demo/image/upload/w_200,h_155,c_lfill,q_auto/sofa_cat.jpg" />
        <figcaption>Sofa Cat</figcaption>
      </a>
    </div>

    <div class="col-sm-6 col-md-3 mb-4 text-center">
      <a data-fancybox="gallery" data-src="https://res.cloudinary.com/demo/image/upload/w_1000,c_scale,q_auto/car_lady_dog.jpg" data-caption="Lady and Dog">
        <img src="https://res.cloudinary.com/demo/image/upload/w_200,c_scale,q_auto/car_lady_dog.jpg" />
        <figcaption>Lady and Dog</figcaption>
      </a>
    </div>

    <div class="col-sm-6 col-md-3 mb-4 text-center">
      <a data-fancybox="gallery" data-src="https://res.cloudinary.com/demo/image/upload/w_1000,c_scale,q_auto/cld_popsicles.jpg" data-caption="Popsicles">
        <img src="https://res.cloudinary.com/demo/image/upload/w_200,h_155,c_lfill,q_auto/cld_popsicles.jpg" />
        <figcaption>Popsicles</figcaption>
      </a>
    </div>

    <div class="col-sm-6 col-md-3 mb-4 text-center">
      <a data-fancybox="gallery" data-src="https://res.cloudinary.com/demo/image/upload/w_1000,c_scale,q_auto/sheep.jpg" data-caption="Sheep">
        <img src="https://res.cloudinary.com/demo/image/upload/w_200,h_155,c_lfill,q_auto/sheep.jpg" />
        <figcaption>Sheep</figcaption>
      </a>
    </div>

    <div class="col-sm-6 col-md-3 mb-4 text-center">
      <a data-fancybox="gallery" data-src="https://res.cloudinary.com/demo/image/upload/w_1000,c_scale,q_auto/dog.jpg" data-caption="Cute Puppy">
        <img src="https://res.cloudinary.com/demo/image/upload/w_200,h_155,c_lfill,q_auto/dog.jpg" />
        <figcaption>Cute Puppy</figcaption>
      </a>
    </div>

    <div class="col-sm-6 col-md-3 mb-4 text-center">
      <a data-fancybox="gallery" data-src="https://res.cloudinary.com/demo/image/upload/w_1000,c_scale,q_auto/kitten.jpg" data-caption="Cute Kitten">
        <img src="https://res.cloudinary.com/demo/image/upload/w_200,h_155,c_lfill,q_auto/kitten.jpg" />
        <figcaption>Cute Kitten</figcaption>
      </a>
    </div>

  </article>
</section>